extends ../layout
extends ../layout_dashboard

block content
  h2 Create New User
  form(action='/admin/users/create', method='POST')
    .row
      .col-md-6
        .mb-3
          label.form-label Username
          input.form-control(type='text', name='username', required)

      .col-md-6
        .mb-3
          label.form-label Password
          input.form-control(type='password', name='password', required)

    .row
      .col-md-6
        .mb-3
          label.form-label Role
          select.form-select(name='role')
            option(value='user') User
            option(value='admin') Admin

    button.btn.btn-success(type='submit') Create User
